@charset "UTF-8";
body {
background-color: coral
}


h1{
color:skyblue;
font-weight:bold;
}
h1{
color:skyblue;
font-weight:bold;
}

a{
color: purple;
text-decoration: none;
}
a:hover { color: plum;
}

h2 {
color: white;
font-weight:bold;
}

p {
color:greenyellow;	
}
.customgraph {
color: green;
font-size: 30px;	
}